.container{
    max-width: 60%;
}

#tweets {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    margin-bottom: 48px
}

.buttons{
    display: flex;
}

.buttons > div {
    margin-right: 12px;
}
